# executables
*.exe*
*.out*
*.app*

# object files
*.obj
*.o
*.lo
*.slo

# ignored directories
/vs/.vs
/vs/x64/
/vs/src/x64/
/vs/src/saves/
/vs/tests/Cartridge_test/x64/
/vs/tests/CPU_test/x64
/vs/tests/Mapper_test/x64

# ignored specific file locations
/vs/src/*.dll
/vs/src/*.ini
/vs/tests/CPU_test/*.dll
/vs/tests/CPU_test/*.ini
/vs/tests/CPU_test/*.txt

*.pdb
*.ilk
*.idb
*.tlog
*.log
*.db*
*.ipch
*.opendb
*.exp
*.iobj
*.ipdb
*.user
*.manifest
*.aps
*.sdf
*.res
*.suo
